<h4>elsewhere</h4>
<p><strong>Disclaimer</strong></p>
<p>This is my personal blog. The views expressed on these pages are mine alone and not those of my employer(s) or any other organization(s) I am associated with.</p>
<p><strong>Comment policy</strong></p>
<p>I reserve (and sometimes enjoy) the right to remove unwanted, meaningless, tasteless, stupid, racist, or rude comments posted here. I reserve the right to decide what belongs to the above mentioned categories.</p>

<ul>
    <li><a href="http://twitter.com/#!/hujinpu" rel="me">Twitter</a></li>
    <li><a href="https://github.com/hujinpu" rel="me">Github</a></li>
    <li><a href="mailto:hujinpu@gmail.com" rel="me">Ask Me Anything via Email</a></li>
</ul>
